extends ../layout 

block main
  section(class="section")
    div(class="columns is-mobile")
      div(class="column")
        div(class="container")
          div(class="content")
            section(cless="section")
              h1= infoDB.name
              h6 제조사
              p= infoDB.manufacturer
              h6 모델명 
              p= infoDB.model
              h6 시리얼 번호
              p= infoDB.serial
              h6 IMEI
              p= infoDB.imei
              h6 OS 종류 
              p= infoDB.os_type
              h6 OS 버전 
              p= infoDB.os_version
              h6 취득일 
              p= infoDB.get_dt
              h6 자산 코드 
              p= infoDB.assetcode
              h6 비고
              p= infoDB.info
            section(class="section")
              div(class="container")
                div(class="field is-grouped")
                  p(class="control")
                    a(class="button is-success" href="/device/") 확인
                  case roleID
                    when 1
                      p(class="control")
                        a(class="button is-link" href="/device/"+infoDB._id+"/edit") 수정
                      p(class="control")
                        a(class="button is-danger" href="/device/"+infoDB._id+"/delete") 삭제
