extends ../layout 

block main
    section(class="section")
        div(class="columns is-mobile")
            div(class="column")
                    div(class="container")
                        div(class="content")
                            section(cless="section")
                                h1= infodb.name
                                h6 제조사
                                p= infodb.manufacturer
                                h6 모델명 
                                p= infodb.model
                                h6 시리얼 번호
                                p= infodb.serial
                                h6 IMEI
                                p= infodb.imei
                                h6 OS 종류 
                                p= infodb.os_type
                                h6 OS 버전 
                                p= infodb.os_version
                                h6 취득일 
                                p= infodb.get_dt
                                h6 자산 코드 
                                p= infodb.assetcode
                                h6 비고
                                p= infodb.info
                            section(class="section")
                                div(class="container")
                                    div(class="field is-grouped")
                                        p(class="control")
                                            a(class="button is-success" href="/device/") 확인
                                        p(class="control")
                                            a(class="button is-link" href="/device/"+infodb._id+"/edit") 수정
                                        p(class="control")
                                            a(class="button is-danger" href="/device/"+infodb._id+"/delete") 삭제
