extends ../layout 

block main
  section(class="section")
    div(class="columns is-mobile")
      div(class="column")
        div(class="container")
          div(class="content")
            section(cless="section")
              h1= infoDB.name
              h6 제조사
              p= infoDB.manufacturer
              h6 모델명 
              p= infoDB.model
              h6 시리얼 번호
              p= infoDB.serial
              h6 IMEI
              p= infoDB.imei
              h6 OS 종류 
              p= infoDB.os_type
              h6 OS 버전 
              p= infoDB.os_version
              h6 취득일 
              p= format(infoDB.get_dt, "yyyy-mm-dd")
              h6 자산 코드 
              p= infoDB.assetcode
              h6 비고
              p= infoDB.info
            section(class="section")
              div(class="container")
                div(class="field is-grouped")
                  p(class="control")
                    a(class="button is-success" href="/device/")
                      span(class="icon")
                        i(class="fas fa-th-list")
                      span 목록
                  case roleID
                    when 1
                      p(class="control")
                        a(class="button is-link" id="openEditModalView") 수정
                        include ../device/edit
                      p(class="control")
                        a(class="button is-danger" onclick="deletePopupView('"+infoID+"')") 삭제
  script(src="/source/javascript/delete-popup-view-1.0.js")
  script(src="/source/javascript/edit-modal-view-1.0.js")
