extends ../layout

block main
  section(class="section")
    include navbar
  section(class="section")
    include level
    div(class="container")
      div(class="table-container")
        table(class="table is-fullwidth")
          thead
            tr
              th 제조사
              th 이름
              th 모델명
              th OS
              th OS 버전
          tbody
            each list in devicedb
              tr
                td= list.device_manufacturer
                td
                  a(href='/device/'+list.uid)= list.device_name
                td= list.device_model
                td= list.device_ostype
                td= list.device_osversion
